.container {
    text-align: center;
    margin-top: 50px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
    margin-top: 20px;
    margin-left:220px;
    align:center;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;

}

button {
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: lightpink;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: green;
}
#font{
    color:white;
}